.mapboxgl-ctrl {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mapboxgl-ctrl-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.mapboxgl-ctrl-button:hover {
  background-color: #f8f8f8;
}
