body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.description {
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 4px 8px;
  border: 2px solid white;
  user-select: none;
}
.calc-distance {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 252px;
  height: 36px;
  padding: 4px 8px;
  border: 2px solid white;
  transition: opacity 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.title {
  font-weight: 700;
}
ol {
  margin: 0;
  padding-left: 16px;
}

.disabled {
  opacity: 0.5;
}

.popup-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.set-position {
  display: flex;
  gap: 4px;
}
